@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bermuda Children's Home</h1>
    <p>Bermuda is a children's home located in the Kempton Park area.</p>
    <p>They offer a home to children of all ages and genders.</p>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Use Case Narrative 1
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                <table class="table" >
                    <tr>
                        <th colspan="3">System Name: Bermuda Management System</th>
                    </tr>
                    <tr>
                        <td><strong>Author:</strong> Gerhard Kloppers</td>
                        <td><strong>Date:</strong> 2022/08/20</td>
                        <td>Version 1.0.0</td>
                    </tr>
                    <tr>
                        <th>Use case name:</th>
                        <td>Add an orphan</td>
                        <th>USE CASE TYPE</th>
                    </tr>
                    <tr>
                        <th>Use case id:</th>
                        <td>1.1</td>
                        <th>Business Requirements: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Priority:</th>
                        <td>High</td>
                        <th>System Analysis: <i class="fa-regular fa-circle-check"></i></th>
                    </tr>
                    <tr>
                        <th>Source:</th>
                        <td>Case Study</td>
                        <th>System Design: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Primary Business Actor:</th>
                        <td colspan="2">Orphan</td>
                    </tr>
                    <tr>
                        <th>Primary System Actor:</th>
                        <td colspan="2">Orphanage Administrator</td>
                    </tr>
                    <tr>
                        <th>Other Participating Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>None</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Other Interested Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>Donor</li>
                                <li>Helper</li>
                                <li>Foster Parent</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td colspan="2">The orphanage administrator adds a new orphan to the system.</td>
                    </tr>
                    <tr>
                        <th>Pre-condition:</th>
                        <td colspan="2">None</td>
                    </tr>
                    <tr>
                        <th>Trigger:</th>
                        <td colspan="2">An orphan is admitted to the orphanage.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Use Case Narrative 2
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                <table class="table">
                    <tr>
                        <th colspan="3">System Name: Bermuda Management System</th>
                    </tr>
                    <tr>
                        <td><strong>Author:</strong> Gerhard Kloppers</td>
                        <td><strong>Date:</strong> 2022/08/20</td>
                        <td>Version 1.0.0</td>
                    </tr>
                    <tr>
                        <th>Use case name:</th>
                        <td>Make a donation</td>
                        <th>USE CASE TYPE</th>
                    </tr>
                    <tr>
                        <th>Use case id:</th>
                        <td>2.1</td>
                        <th>Business Requirements: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Priority:</th>
                        <td>Low</td>
                        <th>System Analysis: <i class="fa-regular fa-circle-check"></i></th>
                    </tr>
                    <tr>
                        <th>Source:</th>
                        <td>Case Study</td>
                        <th>System Design: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Primary Business Actor:</th>
                        <td colspan="2">Orphanage Administrator</td>
                    </tr>
                    <tr>
                        <th>Primary System Actor:</th>
                        <td colspan="2">Donor</td>
                    </tr>
                    <tr>
                        <th>Other Participating Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>Orphan</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Other Interested Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>None</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td colspan="2">A Donor donates items to the orphanage.</td>
                    </tr>
                    <tr>
                        <th>Pre-condition:</th>
                        <td colspan="2">
                            <ul>
                                <li>
                                    There must be orphans on the system.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Trigger:</th>
                        <td colspan="2">A Donor decides to make a donation.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Use Case Narrative 3
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                <table class="table">
                    <tr>
                        <th colspan="3">System Name: Bermuda Management System</th>
                    </tr>
                    <tr>
                        <td><strong>Author:</strong> Gerhard Kloppers</td>
                        <td><strong>Date:</strong> 2022/08/20</td>
                        <td>Version 1.0.0</td>
                    </tr>
                    <tr>
                        <th>Use case name:</th>
                        <td>Become a Homework Helper</td>
                        <th>USE CASE TYPE</th>
                    </tr>
                    <tr>
                        <th>Use case id:</th>
                        <td>3.1</td>
                        <th>Business Requirements: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Priority:</th>
                        <td>Low</td>
                        <th>System Analysis: <i class="fa-regular fa-circle-check"></i></th>
                    </tr>
                    <tr>
                        <th>Source:</th>
                        <td>Case Study</td>
                        <th>System Design: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Primary Business Actor:</th>
                        <td colspan="2">Orphanage Administrator</td>
                    </tr>
                    <tr>
                        <th>Primary System Actor:</th>
                        <td colspan="2">Helper</td>
                    </tr>
                    <tr>
                        <th>Other Participating Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>Orphan</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Other Interested Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>None</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td colspan="2">A Helper registers to help with a certain age group's homework.</td>
                    </tr>
                    <tr>
                        <th>Pre-condition:</th>
                        <td colspan="2">
                            <ul>
                                <li>
                                    There must be orphans on the system.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Trigger:</th>
                        <td colspan="2">A Helper decides to help orphans with homework.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Use Case Narrative 4
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body table-responsive">
                <table class="table">
                    <tr>
                        <th colspan="3">System Name: Bermuda Management System</th>
                    </tr>
                    <tr>
                        <td><strong>Author:</strong> Gerhard Kloppers</td>
                        <td><strong>Date:</strong> 2022/08/20</td>
                        <td>Version 1.0.0</td>
                    </tr>
                    <tr>
                        <th>Use case name:</th>
                        <td>Become a Foster Parent</td>
                        <th>USE CASE TYPE</th>
                    </tr>
                    <tr>
                        <th>Use case id:</th>
                        <td>4.1</td>
                        <th>Business Requirements: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Priority:</th>
                        <td>Low</td>
                        <th>System Analysis: <i class="fa-regular fa-circle-check"></i></th>
                    </tr>
                    <tr>
                        <th>Source:</th>
                        <td>Case Study</td>
                        <th>System Design: <i class="fa-regular fa-circle-xmark"></i></th>
                    </tr>
                    <tr>
                        <th>Primary Business Actor:</th>
                        <td colspan="2">Orphanage Administrator</td>
                    </tr>
                    <tr>
                        <th>Primary System Actor:</th>
                        <td colspan="2">Foster Parent</td>
                    </tr>
                    <tr>
                        <th>Other Participating Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>Orphan</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Other Interested Actors:</th>
                        <td colspan="2">
                            <ul>
                                <li>None</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td colspan="2">A Foster Parent registers to home an orphan for a weekend or holiday.</td>
                    </tr>
                    <tr>
                        <th>Pre-condition:</th>
                        <td colspan="2">
                            <ul>
                                <li>
                                    There must be orphans on the system.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Trigger:</th>
                        <td colspan="2">A Foster Parent decides to foster an orphan.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>